mixin menu-item( text, link, clear )
   case clear
      when 'О'
         .menu__item
            a.menu__item_link( href='/#{link}.html' aria-label='Ссылка на страницу о компании') !{text}
      default
         .menu__item
            a.menu__item_link( href='/#{link}.html' aria-label='Ссылка на страницу !{text}') !{text}
