mixin menu-item( text, link, path, clear )
   case clear
      when 'О'
         li.menu__item
            a.menu__item_link( href='#{path}/#{link}.html' aria-label='Ссылка на страницу о компании') !{text}
      default
         li.menu__item
            a.menu__item_link( href='#{path}/#{link}.html' aria-label='Ссылка на страницу #{text}') !{text}
