mixin catalog-food( icon, text, textS )
   case textS
      when '-'
         section( aria-label='#{text}' ).catalog__section.catalog__section-food
            .catalog__section_caption( data-article='#{icon}' )
               div( class='icofood__#{icon}')
               .catalog__section-name !{text}
               .icon__angle
            article.catalog__articles( id='#{icon}' )
               +catalog-article( 'Голец', '#{icon}', '1' )
               +catalog-article( 'Голец', '#{icon}', '2' )
               +catalog-article( 'Голец', '#{icon}', '3' )
               +catalog-article( 'Голец', '#{icon}', '4' )
               +catalog-article( 'Голец', '#{icon}', '5' )
               +catalog-article( 'Горбуша', '#{icon}', '6' )
               +catalog-article( 'Горбуша', '#{icon}', '7' )
               +catalog-article( 'Горбуша', '#{icon}', '8' )
               +catalog-article( 'Горбуша', '#{icon}', '9' )
               +catalog-article( 'Горбуша', '#{icon}', '10' )
      default
         section( aria-label='#{textS}' ).catalog__section.catalog__section-food
            .catalog__section_caption( data-article='#{icon}' )
               div( class='icofood__#{icon}')
               .catalog__section-name !{text}
               .icon__angle
            article.catalog__articles( id='#{icon}' )
               +catalog-article( 'Голец', '#{icon}', '1' )
               +catalog-article( 'Голец', '#{icon}', '2' )
               +catalog-article( 'Голец', '#{icon}', '3' )
               +catalog-article( 'Голец', '#{icon}', '4' )
               +catalog-article( 'Голец', '#{icon}', '5' )
               +catalog-article( 'Горбуша', '#{icon}', '6' )
               +catalog-article( 'Горбуша', '#{icon}', '7' )
               +catalog-article( 'Горбуша', '#{icon}', '8' )
               +catalog-article( 'Горбуша', '#{icon}', '9' )
               +catalog-article( 'Горбуша', '#{icon}', '10' )
