mixin catalog-fish( icon, text, textS )
   case textS
      when '-'
         section( aria-label='#{text}' ).catalog__section
            .catalog__section_caption( data-article='#{icon}' )
               div( class='icofish__#{icon}')
               h2.catalog__section-name !{text}
               .icon__angle
            article.catalog__articles( id='c-#{icon}' )
               .scrollbar-inner
                  .catalog__scroll
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Горбуша' )
                     +catalog-article( 'Горбуша' )
                     +catalog-article( 'Горбуша' )
                     +catalog-article( 'Горбуша' )
                     +catalog-article( 'Горбуша' )
      default
         section( aria-label='#{textS}' ).catalog__section
            .catalog__section_caption( data-article='#{icon}' )
               div( class='icofish__#{icon}')
               h2.catalog__section-name !{text}
               .icon__angle
            article.catalog__articles( id='c-#{icon}' )
               .scrollbar-inner
                  .catalog__scroll
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Горбуша' )
                     +catalog-article( 'Горбуша' )
                     +catalog-article( 'Горбуша' )
                     +catalog-article( 'Горбуша' )
                     +catalog-article( 'Горбуша' )
