mixin catalog-fish( icon, text, textS )
   case textS
      when ''
         section( aria-lanel='#{text}' ).catalog__section
            .catalog__section-caption( data-article='#{icon}' )
               div( class='icofish__#{icon}')
               .catalog__section-name  !{text}
               .icon__angle
            article.catalog__articles
               .scrollbar-inner
                  .catalog__scroll( id='#{icon}' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Горбуша' )
                     +catalog-article( 'Горбуша' )
                     +catalog-article( 'Горбуша' )
                     +catalog-article( 'Горбуша' )
                     +catalog-article( 'Горбуша' )
      default
         section( aria-lanel='#{textS}' ).catalog__section
            .catalog__section-caption( data-article='#{icon}' )
               div( class='icofish__#{icon}')
               .catalog__section-name  !{text}
               .icon__angle
            article.catalog__articles
               .scrollbar-inner
                  .catalog__scroll( id='#{icon}' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Голец' )
                     +catalog-article( 'Горбуша' )
                     +catalog-article( 'Горбуша' )
                     +catalog-article( 'Горбуша' )
                     +catalog-article( 'Горбуша' )
                     +catalog-article( 'Горбуша' )
