mixin sub( icon, name_of )
   a( class='subscribe__social-#{icon}' href='/' target='_blank' title='Перейти в #{name_of} компании' aria-label='Ссылка на #{name_of} компании').subscribe__social_holder
      div( class='icon__#{icon}')
      span.text-white #{name_of}
